<style>
    .jumbotron {
        background-image: url("https://media.lesechos.com/api/v1/images/view/5f3e977dd286c20d50035b75/1280x720/0603775925223-web-tete.jpg");
        background-size: cover;
        height: 100vh;
    }
    .container-fluid {
        padding: 0;
        margin: 0
    }

    body {
        overflow-x: hidden;
    }
</style>

<div class="jumbotron background" style="vertical-align: middle">
    <div class="container-fluid" style="vertical-align: middle">
        <h1 class="text-center" style="color: #e6eaec">
            <strong> TABLEAU DE BORD  </strong>
        </h1>
        <h1 class="text-center" style="color: #e6eaec">
            <strong> COVID-19 EN FRANCE  </strong>
        </h1>
    </div>
</div>